


<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <iframe src="" frameborder="0" class="card-img-top" style="overflow: hidden;"
                    scrolling="no" loading="lazy"></iframe>
                <div class="card-title text-center">
                    <h4>name of the subject</h4>
                </div>
                <div class="card-body">
                    <a class="btn btn-primary d-block w-50 mx-auto my-2" href=""><i
                            class="fa fa-eye m-1" aria-hidden="true"></i>view</a>
    
                    <a class="btn btn-primary d-block w-50 mx-auto" href="" download="main"><i
                            class="fa fa-download m-1" aria-hidden="true"></i>download</a>
                </div>
            </div>
    
        </div>
</div>
