<header class=" text-white p-2 d-flex justify-content-between align-items-center" style="background: rgb(106,127,129);
background: linear-gradient(90deg, rgba(106,127,129,1) 0%, rgba(29,133,147,1) 35%, rgba(23,153,137,1) 100%);">
    <button class="btn " style="background: rgb(33,116,107);
background: linear-gradient(90deg, rgba(33,116,107,1) 0%, rgba(0,147,140,1) 35%, rgba(20,120,107,1) 100%);" id="sidebarToggle">☰</button>
    <h1 class="h4 m-0">My Application</h1>
</header>


