<header class="bg-light text-white">
    <div class="">
      <div class="d-flex  align-items-center">
        <div class="text-center bg-dark d-flex" style="height: 2.5rem; align-items: center;" >
            <h4 class="mb-0  " style="width: 220px;">UMS</h4>
        </div>
       
        <form class=" form w-100  " role="search" action="/search" method="GET">
            <input 
              class="  w-100 " 
              type="search" 
              name="query" 
              placeholder=" Search users..." 
              aria-label="Search"
              style="height: 2.5rem; outline: 0; border: 0 ; background-color: rgb(58, 58, 58);opacity:50; color: rgb(200, 197, 197); "
              required>
          </form>
      </div>
    </div>
  </header>