<header class="container" id="login-header">
    <h2>login</h2>
    <p>Enter your username/password to login </p>
</header>
<main>
    <form action="">
<div class="container  " id="form-container"> 
        <div class="form-row  ">
            <div class="form-group ">
                <label for="uname">UserName:</label>
                <input type="text/email" class="form-control" id="uname" placeholder="Enter your email/uname" required>
            </div>

            
        </div>
        <div class="form-row mt-3">
            <div class="form-group">
                <label for="login-pwd" >Password:</label>
                <input type="password" class="form-control " id="login-pwd" placeholder="Enter your password" required>
            </div>
        </div>
        <button type="submit" class="btn btn-success mx-auto d-block mt-3">Login</button>
    </div>   
    </form>
</main>
<div style="height: 5rem;">

</div>