<!-- <div class=" px-4 " style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div class=" w-50">
        <h1 class="text-center text-success mb-5">Register Page</h1>
    <form action="/register" method="post" >
        <div class="row">
            <div class="form-group py-2 col">
                <label for="fname">First Name:</label>
                <input type="text" class="form-control" id="fname" name="fname" value="" placeholder="First Name" required>
            </div>
            <div class="form-group py-2 col">
                <label for="lname">Last Name:</label>
                <input type="text" class="form-control" id="lname" value="" name="lname" placeholder="Last Name" required>
            </div>
        </div>

        <div class="row">
            <div class="form-group py-2 col">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" value="" placeholder="example@gmail.com"
                    required>
            </div>
            <div class="form-group py-2 col">
                <label for="tel">phone No:</label>
                <input type="tel" class="form-control" id="tel" name="tel" placeholder="+91" value="" required>
            </div>
        </div>

        <div class="row">
            <div class="form-group py-3">
                <label for="details">Details:</label>
                <textarea name="detail" id="detail" type="textarea" class="form-control" rows="5"
                    placeholder="Enter Your Comments Hear...." ></textarea>
            </div>
        </div>
<div class=" d-flex justify-content-between">
    <button class="btn btn-success mt-4 btn-sm d-block mx-auto " type="submit"><i class="bi bi-database-fill-up"></i>Register</button>
    
    
</div>
       
    </div>
</div> -->



<!-- register page -->


<header class="container" id="reg-header">
    <h3> Register</h3>
    <p>Enter your details to register</p>
</header>
<main>
    <form action="">
        <div id="form-container" class="container">
        <div class="form-row">
        <div class="form-group">
            <label for="fname">FirstName:</label>
            <input type="text" name="fname" id="fname" class="form-control" placeholder="Enter your first name" >

        </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="lname">LastName:</label>
                <input type="text" name="lname" id="lname" class="form-control" placeholder="Enter your surname">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter your email" required>

            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="phone">Phone No:</label>
                <input type="tel" class="form-control" id="phone" placeholder="Enter your mobile number">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
<label for="reg-pwd">password</label>
<input type="password" class="form-control" id="reg-pwd" placeholder="set your password" required>
            </div>
        </div>
        <button type="submit" class="btn btn-success d-block mx-auto mt-3" >Register</button>
    </div>
    </form>

</main>