/* .table-section{
    width: 100%;
    display: block;
    
    .fname{
        width: 15rem;
        height: 2rem;
        border: 1px solid;
    }
    .lname{
        width: 15rem;
        height: 2rem;
        border: 1px solid;
    }
    .email{
        width:25rem ;
        height: 2rem;
        border: 1px solid;
    }
    .tel{
        width: 20rem;
        height: 2rem;
        border: 1px solid;
    }
    .action{
        width: 10rem;
        height: 2rem;
        border: 1px solid;
    }

} */